body .property-nav .property-nav-item {
    margin-left: 20px;
    margin-right: 20px;
    color: blue;
    text-decoration: underline;
    font-size: 36px;
}

.spot-reserved {
    background-color: #ffcccc;
}

.spot-open {
    background-color: #ccffb6;;
}

.spot-row-container {
    display: flex;
}

.spot-cell {
    width: 50%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.spot-cell-inner {
    height: 40px;
}