.property-nav .property-nav-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
    background-color: white;
    color: black;
    flex-basis: 100%;
    font-weight: bold;
    text-align: center;
}

.property-nav .property-nav-item:not(:last-child) {
    border-right: 1px solid black;
}

.property-nav {
    display: flex
}