body {
    overflow-x: scroll;
}

.form-control-checkbox {
    height: 34px;
    width: 34px;
}

.spots-sections-outer-container {
    display: flex;
}

.spot-sections-container {
    display: flex;
    flex-flow: row;
}

.spot-restricted {
    background-color: #808080;
    color: white;
}

.spot-reserved {
    background-color: #ffcccc;
}

.spot-open {
    background-color: #ccffb6;;
}

.spot-row-container {
    display: flex;
}

.spot-cell-container {
    width: 300px;
}

.spots-container {
    display: flex;
    flex-flow: row;
}

.edit-mode .spot-cell-container {
    height: 100% !important;
    width: 600px;
}

.vertical-spot .spot-cell-container {
    writing-mode: vertical-rl;
    width: 102px;
}

.edit-mode .vertical-spot .spot-cell-container {
    writing-mode: horizontal-tb;
}

.edit-mode .spots-container .form {
    width: 600px;
    background: white;
    position: relative;
    color: black;
}

.spot-cell {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
}

.spot-cell-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.spot-cell-with-parts-1 .spot-cell {
    height: 100%;
}

.spot-cell-with-parts-2 .spot-cell {
    height: 50%;
    font-size: .5em;
}

.spot-cell-with-parts-3 .spot-cell {
    height: 33.333%;
    font-size: .333em;
}

.spot-cell-with-parts-4 .spot-cell {
    height: 25%;
    font-size: .25em;
}

.spot-cell-with-parts-5 .spot-cell-inner {
    height: 20%;
    font-size: .20em;
}

.spot-cell a {
    color: black;
    text-decoration: underline;
}

.spot-edit-btn {
    margin-left: 10px;
    margin-bottom: 10px;
    display: none;
}

#show-add-spot-form-btn {
    display: none;
}

.edit-mode #show-add-spot-form-btn {
    display: inline-block;
}

.edit-mode .spot-edit-btn {
    display: inline-block;
}

.vertical-spot .spot-cell-inner {
    padding-top: 7px;
    padding-bottom: 7px;
}

.vertical-spot .spot-with-balance .spot-cell-inner {
    height: auto;
}

.spot-with-balance .spot-cell-inner {
    height: auto;
}

.spot-with-balance {
    background-color: red;
    height: auto;
    color: white;
    overflow: visible;
    white-space: normal;
}

.spot-with-balance a {
    color: white;
}
