body label.col-form-label-lg,
.input-group-addon,
body textarea.form-control,
body input.form-control,
body #input-form
{
    font-size: 30px;
}

body .form-control {
    height: 50px;
}

#sale-memo {
    height: 150px;
}

#sale-payment-frequency {
    text-transform: capitalize;
}

.white-background {
    background-color: #FFF;
}

.form-check-input {
    height: 35px;
    width: 35px;
}

.btn {
    font-size: 30px;
}

.customer-balance-row {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

body .property-nav .property-nav-item {
    margin-left: 20px;
    margin-right: 20px;
    color: blue;
    text-decoration: underline;
    font-size: 36px;
}

@media print {
    span, div {
        font-size: 12px !important;
        font-weight: bold;
    }
    .receipt-data-group {
        margin-top: 10px;
    }
}

@media screen {
    .print-only, .print-only * {
        display: none !important;
    }
}