.report-row {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.amount-cell {
    padding-right: 45px;
}

.dotted-underline-row > div:last-child {
    padding-left: 0px;
}