body label.col-form-label-lg,
.input-group-addon,
body textarea.form-control,
body input.form-control,
body .customers-container,
body #one-time-reservations-container
{
    font-size: 30px;
}

body .form-control {
    height: 50px;
}

.form-check-input {
    height: 35px;
    width: 35px;
}

.btn {
    font-size: 30px;
}

#memo {
    height: 100px;
}

#input-form .btn-primary {
    margin-top: 0;
    margin-bottom: 0;
}

#spot-container > .spot-row:not(:first-child) {
    margin-top: 30px;
}

#one-time-reservations-container > .reservation-row:not(:first-child) {
    margin-top: 30px;
}

.required-field-validation {
    border: 3px solid red;
}
