.report-row {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.amount-cell {
    padding-right: 45px;
}

.dotted-underline-row > div:last-child {
    padding-left: 0px;
}

.black-solid-underline {
    border-bottom: 1px solid #000;
}

.black-double-underline {
    border-bottom: 1px double #000;
}

.font-weight-bold {
    font-weight: bold;
}

.font-strike-through {
    text-decoration: line-through;
}