body {
    overflow-x: scroll;

}

.form-control-checkbox {
    height: 34px;
    width: 34px;
}

.spots-sections-outer-container {
    display: flex;
}

.spot-sections-container {
    display: flex;
    flex-flow: row;
}

.spot-restricted {
    background-color: #808080;
    color: white;
}

.spot-reserved {
    background-color: #ffcccc;
}

.spot-open {
    background-color: #ccffb6;;
}

.spot-row-container {
    display: flex;
}

.spot-cell {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.spot-cell-inner {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

.spot-cell-inner.field {
    min-height: 103px;
}

.spot-cell a {
    color: black;
    text-decoration: underline;
}

.spot-edit-btn {
    margin-left: 10px;
    margin-bottom: 10px;
    display: none;
}

#show-add-spot-form-btn {
    display: none;
}

.edit-mode #show-add-spot-form-btn {
    display: inline-block;
}

.edit-mode .spot-cell-inner {
    width: 600px;
}

.edit-mode .spot-edit-btn {
    display: block;
}

.vertical-spot .spot-cell-inner {
    height: 300px;
    writing-mode: vertical-rl;
    width: 102px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.vertical-spot .spot-with-balance .spot-cell-inner {
    height: auto;
}

.spot-with-balance .spot-cell-inner {
    height: auto;
}

.spot-with-balance {
    background-color: red;
    height: auto;
    color: white;
    overflow: visible;
    white-space: normal;
}

.spot-with-balance a {
    color: white;
}